@import "tailwindcss";

body {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  background-color: #040713;
  /* background-color: red; */
  /* border: 1px solid red; */
}

::-webkit-scrollbar {
    display: none;
}

.translate-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1206px;
  width: 100%;
  margin: 0 72px;
  /* border: 3px solid green; */
}

.box{
  max-width: 597px;
  width: 100%;
  height: 339px;
  /* height: 100%; */
  border: 0.5px solid #4D5562;
  /* border: 1px solid #212936; */
  background-color: #394150;
  border-radius: 24px;
  padding: 24px;
}

.box.translation {
  background-color: #121826;
}

.box textarea, .translated-text-container {
  /* border: 3px solid red; */
  max-width: 549px;
  width: 100%;
  /* max-height: 120px; */
  max-height: 158px;
  /* max-height: 236px; */
  height: 100%;
  padding-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #F9FAFB;
  border-top: 1px solid #394150;
  resize: none;
  /* outline: none; */
}

.box.translation .tranlation-action-button {
  /* margin-top: 30px; */
  margin-top: 42px;
}

.language-selector {
 display: flex;
 align-items: flex-start;
 gap: 12px;
 max-height: 34px;
 height: 100%;
 margin-bottom: 14px;
 /* margin-top: 24px; */
 /* justify-content: space-between;
 align-items: self-start;
 gap: 12px; */
}

.language-selector button.active {
  background-color: #4D5562;
  border-radius: 12px;
}

.language-selector button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D2D5DA;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;
  /* border: 1px solid red; */
  height: 100%;
}

#inputContent {
  border-top: 1px solid #4d5562;
}

.sound-and-copy-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sound-and-copy-button-container {
  max-width: 80px;
  width: 100%;
}

.sort-alpha-image {

}

.translate-button {
  display: flex;
  color: #F9FAFB;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #7CA9F3;
  border-radius: 12px;
  gap: 8px;
  padding: 11px 22px;
  background-color: #263FA9;
}

.tranlation-action-button {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.counter-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #D2D5DA;
  font-size: 12px;
  font-weight: medium;
  margin-bottom: 12px;
}